{% extends "base.html" %}

{% block content %}

<h1 style="text-align:center;">Hi, We are #include[Cteam]!</h1>

<center><body>
<div style="width: 850px; height: 470px;vertical-align: center;" align="center">
<table style="padding-left: 20px; width: 700px; border: 20px white; background-color: white;">
  <tr>
  <td><img class='img-circle' src="http://www.51oscar.com/Public/Home/ueditor/php/upload/56311372666771.jpg" alt="HTML5 Icon" width="140" height="170" align="center"></td>
  <td>Hello guys! Meishan Yu is from Xi'an, a historical city in the middle part of China. I like shopping, traveling and reading novels in spare time. My dream country to have vacation is Australia because it has a beautiful sky and sea, I like to watch the starry night at night.</td>
  </tr>

  <tr>
  <td><img src="http://www.sinaimg.cn/dy/slidenews/4_img/2014_02/704_1204584_810891.jpg" alt="HTML5 Icon" width="130" height="160" align="center"></td>
  <td>Hi, I'm Hans Lee. I am a second year college student at the University of Michigan. I am a SI major. My hobbies include surfing, tennis and ping pong. I absolutely love to code. </td>
  </tr>

  <tr>
  <td><img src="http://img5.duitang.com/uploads/item/201406/10/20140610223036_FMVus.jpeg" alt="HTML5 Icon" width="160" height="160" align="center"></td>
  <td>Hi! I'm Minjee Kim and I am a Sophomore at the University of Michigan. I'm majoring in Economics but have an interest in both Computer Science and Design. As for my hobbies, I enjoy playing games and watching movies with my friends. Thanks! </td>
  </tr>

  <tr>
  <td><img src="http://img.55bbs.com/9_500x2000/216/lies6rb4KrH3.jpg" alt="HTML5 Icon" width="150" height="160" align="center"></td>
  <td>Greetings curious visitor! My name is Yang Lu and I am a senior majoring in Program(ming) in the Environment(PitE). I am tolerant of small kittens and like to watch random videos on Youtube. I hope you enjoy our website that my team and I have created!</td>
  </tr>

</table>
</div>
</body></center>

{% endblock %}


